<template>
  <!-- Show disclaimer if not approved -->
  <!-- <transition v-if="!isApproved" name="fade"> -->
  <div
    v-if="!isApproved"
    class="disclaimer text-white flex flex-col"
    :class="{ hidden: isApproved }"
  >
    <div id="image-container" class="container px-8 mx-auto">
      <img
        src="images/ortho-beatbox-illustration-01.svg"
        alt=""
        class="h-full inline pt-10"
      />
    </div>
    <div class="container px-8 mx-auto">
      <h3 class="page-title mt-10 mb-4">Avertissement !</h3>
      <p class="text-lg">
        Cette application est réservée aux orthophonistes ayant suivi la
        formation “Ortho Beatbox”, la méthode doit être utilisée avec précaution
        pour éviter tout forçage vocal.
      </p>
      <button class="button w-full max-w-sm mt-10" @click="close()">
        C'est compris
      </button>
    </div>
  </div>
  <!-- </transition> -->
</template>

<script>
// import { mapMutations } from 'vuex'

export default {
  head() {
    // Condition to not interfering with menu head() method
    if (!this.isApproved) {
      return {
        htmlAttrs: {
          class: this.isApproved ? '' : 'overflow-hidden',
        },
      }
    }
  },
  computed: {
    isApproved() {
      return this.$store.state.disclaimer.isApproved || false
    },
  },
  // beforeCreate() {
  //   console.log('beforeCreate')
  //   this.$store.commit('disclaimer/checkDisclaimerAgreed')
  //   console.log(this.isApproved)
  // },
  mounted() {
    // console.log('mounted')
    this.$store.commit('disclaimer/checkDisclaimerAgreed')
    // console.log(this.isApproved)
  },
  methods: {
    // ...mapMutations({
    //   close: 'disclaimer/approve',
    // }),
    close() {
      // console.log('close')
      this.$store.commit('disclaimer/approve')
      // console.log(this.isApproved)
    },
  },
}
</script>

<style scoped>
.disclaimer {
  @apply bg-purple-800 z-40 w-full h-screen absolute top-0 left-0 text-center;
}

#image-container {
  max-height: 50%;
  background-image: url('~assets/images/pattern.svg');
  background-position: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
