<template>
  <header
    class="nav-header"
    :style="{ backgroundImage: `url('${backgroundUrl}')` }"
  >
    <Menu></Menu>
    <h1 class="page-title">{{ title }}</h1>
    <div class="absolute bottom-0 right-0 w-16 h-16">
      <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 80C44.1828 80 80 44.1828 80 0V80H0Z"
          fill="white"
        />
      </svg>
    </div>
  </header>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Titre de page',
    },
  },
  computed: {
    backgroundUrl() {
      const min = 1
      const max = 4
      const randomInt = Math.floor(Math.random() * (max - min + 1) + min)
      return require(`assets/images/pattern-${randomInt}.svg`)
    },
  },
}
</script>

<style scoped>
.nav-header {
  @apply h-48 bg-purple-800 text-white relative flex justify-center;

  /* background-image: url('~assets/images/pattern.svg'); */
  background-position: center;
}
</style>
