<template>
  <div>
    <div
      class="menu-button absolute top-0 right-0 m-4"
      :class="{ open: isOpen }"
      @click="toggle()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="menu-nav bg-purple-700" :class="{ open: isOpen }">
      <ul class="nav">
        <section class="text-center">
          <Logo class="w-60 py-6 inline" />
        </section>
        <li @click="toggle()">
          <NuxtLink to="/">Sons de base</NuxtLink>
        </li>
        <li @click="toggle()">
          <NuxtLink to="entrainement">Entraînement</NuxtLink>
        </li>
        <!-- <li @click="toggle()">
          <NuxtLink to="improvisation">Improvisation</NuxtLink>
        </li> -->
        <li @click="toggle()">
          <NuxtLink to="a-propos">À propos</NuxtLink>
        </li>
      </ul>
      <p class="pt-8">
        {{ `v${$config.version} | ${creditYears}` }}
      </p>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    }
  },
  head() {
    return {
      htmlAttrs: {
        class: this.isOpen ? 'overflow-hidden' : '',
      },
    }
  },
  computed: {
    creditYears() {
      const currentYear = new Date().getFullYear()
      if (currentYear > 2021) return `2021-${currentYear}`
      else return currentYear
    },
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen
    },
  },
}
</script>

<style scoped>
.menu-button {
  width: 40px;
  height: 28px;
  cursor: pointer;
  display: inline-block;
  z-index: 10;
}
.menu-button span {
  background: #fff;
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 2px;
  transform: rotate(0deg);
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
  left: 0;
}
.menu-button span:nth-child(1) {
  top: 0;
}
.menu-button span:nth-child(2) {
  top: 12px;
}
.menu-button span:nth-child(3) {
  top: 24px;
}
.menu-button.open span:nth-child(1) {
  top: 12px;
  transform: rotate(135deg);
}
.menu-button.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.menu-button.open span:nth-child(3) {
  top: 12px;
  transform: rotate(-135deg);
}
.menu-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: visibility 0.5s ease, opacity 1s ease;
}
.menu-nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav {
  display: table-cell;
  list-style: none;
  vertical-align: middle;
}
.nav li {
  margin: 20px 0;
  transform: translateY(-40px);
  opacity: 0;
  transition: all 0.4s ease;
}
.open .nav li {
  transform: translateY(0);
  opacity: 1;
}
.open .nav li:nth-child(1) {
  transition-delay: 100ms;
}
.open .nav li:nth-child(2) {
  transition-delay: 200ms;
}
.open .nav li:nth-child(3) {
  transition-delay: 300ms;
}
.open .nav li:nth-child(4) {
  transition-delay: 400ms;
}
.open .nav li:nth-child(5) {
  transition-delay: 500ms;
}
.open .nav li:nth-child(6) {
  transition-delay: 600ms;
}
.open .nav li:nth-child(7) {
  transition-delay: 700ms;
}
.open .nav li:nth-child(8) {
  transition-delay: 800ms;
}
.nav a {
  display: block;
  font-size: 32px;
  transition: all 0.3s ease;
}
.nav a:hover {
  opacity: 0.6;
}

/* Active route */
.nuxt-link-exact-active {
  opacity: 0.6;
  cursor: default;
}
.router-link-exact-active {
  opacity: 0.6;
  cursor: default;
}
</style>
