<template>
  <div>
    <Header :title="title" />
    <Nuxt />
    <Disclaimer />
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Titre',
    }
  },

  watch: {
    $route() {
      this.updateTitle()
    },
  },
  mounted() {
    this.updateTitle()
  },
  methods: {
    updateTitle() {
      switch (this.$nuxt.$route.name) {
        case 'index':
          this.title = 'Sons de base'
          break
        case 'entrainement':
          this.title = 'Entraînement'
          break
        case 'improvisation':
          this.title = 'Improvisation'
          break
        case 'a-propos':
          this.title = 'À propos'
          break

        default:
          break
      }
    },
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a.link {
  @apply text-purple-800 cursor-pointer;

  background-image: linear-gradient(to bottom, transparent 0%, #5b21b6 0);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease, color 0.25s ease;
}
a.link:hover {
  @apply text-white;

  background-size: 100% 100%;
}

.page-title {
  @apply text-3xl font-bold text-center self-center;
}

.button {
  @apply bg-purple-200 text-purple-800 py-4 px-8 rounded-full rounded-tl-none font-bold text-lg;

  transition: background-color 0.25s ease;
}
.button:hover {
  @apply bg-purple-100;
}

.subtitle {
  @apply font-bold text-xl mt-8 mb-2;
}
</style>
