<template>
  <div class="container m-auto px-8 pt-8 pb-16">
    <!-- Section description – /a-propos#description -->
    <section>
      <h2 id="description" class="subtitle">Orthophonie et Human beatbox</h2>
      <p>
        <b>Ortho-Beatbox</b> est une application qui découle de différents
        projets de recherche menés autour de l’orthophonie et du Human Beatbox
        et encadrés par
        <a
          href="http://www.gipsa-lab.grenoble-inp.fr/~nathalie.henrich/"
          target="_blank"
          class="link"
        >
          Nathalie Henrich</a
        >, directrice de recherche au CNRS de Grenoble. Il est utilisé dans le
        cadre de la formation « Ortho-Beatbox : le human beatbox et ses
        applications en orthophonie» à destination des orthophonistes et de
        leurs patients.
        <br />
        Il est obligatoire d’avoir suivi la formation sur le site internet Qanat afin d’utiliser cet outil de
        manière adéquate. L'application reste la propriété intellectuelle et exclusive de la formatrice. 
        La méthode doit être utilisée avec précaution afin
        d’éviter tout forçage vocal qui serait délétère pour le patient.
        <br />
        Vous pouvez retrouver toutes les informations concernant la formation
        sur
        <a href="https://www.qanatformation.com/" target="_blank" class="link">
        </a>
      </p>
    </section>

    <section class="text-center">
      <Logo class="w-60 py-6 inline" />
    </section>

    <!-- Section origines – /a-propos#origines -->
    <section>
      <h2 id="origines" class="subtitle">Origines du projet</h2>
      <p>
        <b>Vanessa Bourdin</b>, logopédiste au
        <a
          href="https://www.chuv.ch/fr/orl/orl-home/patients-et-famille/nos-unites-et-divisions/unite-de-phoniatrie-orl-pediatrique-et-audiologie-infantile/phoniatrie-et-logopedie"
          target="_blank"
          class="link"
          >CHUV</a
        >
        de Lausanne en Suisse, a souhaité créer une formation et un outil
        ludique et novateur destinés aux orthophonistes en demande de nouveaux
        supports. Les bases théoriques étant apportées par les différents
        projets de recherche menés dans ce domaine, elle s’est interrogée sur
        l’utilité d’un outil matériel à créer. <br />
        Ainsi, elle s’est rapprochée du
        <a
          href="http://www.fablab-renens.ch/FabLab de Renens"
          target="_blank"
          class="link"
          >Fablab de Renens</a
        >.
      </p>
    </section>

    <!-- Section fablab – /a-propos#fablab -->
    <section>
      <h2 id="fablab" class="subtitle">Qu’est ce qu’un Fablab ?</h2>
      <p>
        Les FabLab (télescopage des mots <i>fab</i>rique et <i>lab</i>oratoire)
        constituent un réseau mondial d’ateliers de fabrication numérique. Ce
        sont des lieux de partage et d’accès libre à des technologies de
        prototypage rapide où l’on peut fabriquer « à peu près tout ».
        <br />
        Le Fablab offre un apprentissage par la réalisation concrète de projets.
        On y gagne de l’indépendance vis-à-vis des technologies que l’on apprend
        à maîtriser et l’on peut à son tour partager ses connaissances.
        <br />
        Organisée en association, la plateforme est ouverte et non marchande.
        Des bénévoles animent le lieu pour en faire un atelier pas comme les
        autres. Toute personne peut en devenir membre et participer en y
        apportant ses projets, ses connaissances et sa motivation.
      </p>
    </section>

    <section class="text-center">
      <img
        src="images/ortho-beatbox-illustration-02.svg"
        alt=""
        class="w-80 py-6 inline"
      />
    </section>

    <!-- Section origines – /a-propos#origines -->
    <section>
      <h2 id="creation" class="subtitle">Création de l’outil</h2>
      <p>
        Au Fablab de Renens, Vanessa a rencontré Richard Timsit puis Jonathan
        Favre-Lamarine, tous deux bénévoles qui ont donné une immense partie de
        leur temps pour faire naître le projet. Ensemble, ils ont réfléchi à la
        création d’un dé, objet matériel pouvant être utilisé partout et par
        tous. L’idée était de créer sur chaque face du dé des sons beatboxés et
        les lancer afin de faire apparaître un pattern. Puis, il est apparu que
        l’outil nécessitait plus de fonctionnalités et qu’une version numérique
        permettrait une utilisation plus facile et rapide par les orthophonistes
        et leurs patients.
        <br />
        Les étapes de l’application numériques ont donc été les suivantes :
      </p>

      <ul class="list-disc">
        <li>
          <b>Prototype de base</b> – dessiner grossièrement les pages de
          l’application et le menu sur papier
        </li>
        <li><b>Découverte de Figma</b> – Création de maquettes visuelles</li>
        <li>
          <b>Apprentissage des bases HTML/CSS</b> – découverte du code HTML et
          CSS en utilisant le logiciel VS Code
        </li>
        <li>
          <b>Introduction au versioning</b> – utilisation de GitLab et GitKraken
          pour travailler à distance avec Jonathan
        </li>
        <li>
          <b>Dévouverte de JavaScript (et Nuxt)</b> – développement des logiques
          de l'application
        </li>
      </ul>
    </section>

    <!-- Section contact – /a-propos#contact -->
    <section>
      <h2 id="contact" class="subtitle">Contact</h2>
      <p href="mailto:bourdinva@gmail.com" class="pb-2">
        Une question ? Une remarque ? Une suggestion ?
        <br />
        Vos retours nous permettent d'améliorer l'application !
      </p>
      <a href="mailto:bourdinva@gmail.com" class="button inline-block">
        Nous contacter
      </a>
    </section>

    <!-- Section remerciements – /a-propos#remerciements -->
    <section>
      <h2 id="remerciements" class="subtitle">Remerciements</h2>
      <p>
        Vanessa tient à remercier chaleureusement Nathalie Henrich, Annalisa
        Paroni et Claire Gentil pour leur soutien et leur expertise autour du
        Human Beatbox, Nicolas Giemsa alias "Tiko" pour sa motivation et son
        talent mis au service de la recherche, Nicolas Thievon pour sa
        participation, Richard Timsit et Jonathan Favre-Lamarine pour leur temps
        précieux et leur générosité et enfin Quentin Vandaele, sans qui ce
        projet ne serait pas né.
      </p>
    </section>
  </div>
</template>

<script>
export default {}
</script>
