<template>
  <div class="container mx-auto px-8 mt-12">
    <section class="sequencer flex flex-col justify-center">
      <p class="text-center">Répétez la séquence suivante :</p>
      <div class="flex justify-center mt-4 flex-wrap">
        <span
          v-for="(occlusive, index) in activeSequence"
          :key="occlusive.id"
          class="occlusive"
          :class="[
            occlusive.toLowerCase(),
            index === activeOcclusive && isPlaying ? 'active' : '',
          ]"
        >
          {{ occlusive }}
        </span>
      </div>
      <button
        class="button w-full max-w-sm mt-4 self-center"
        @click="randomizeSequence()"
      >
        Nouvelle séquence
      </button>
    </section>

    <div class="control-container">
      <div
        class="control volume-container"
        :class="{ open: isVolumeControlOpen }"
      >
        <p class="text-purple-800">Volume : {{ volumeAsPercentage }}%</p>
        <input
          type="range"
          class="slider"
          step="0.1"
          min="0"
          max="1"
          :value="volume"
          @input="onVolumeChange($event)"
        />
      </div>
      <div
        class="control tempo-container"
        :class="{ open: isTempoControlOpen }"
      >
        <p class="text-purple-800">Tempo : {{ bpm }}bpm</p>
        <input
          type="range"
          class="slider"
          step="1"
          min="20"
          max="200"
          :value="bpm"
          @input="onTempoChange($event)"
        />
      </div>
      <div class="buttons-container">
        <a
          class="button round secondary"
          :class="{ active: isVolumeControlOpen }"
          @click="switchVolumeControlDisplay()"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.7676 3.21094C18.5682 3.21059 18.3733 3.26982 18.2079 3.38103C18.0425 3.49224 17.914 3.65035 17.8391 3.83507C17.7641 4.0198 17.7461 4.2227 17.7873 4.41774C17.8285 4.61278 17.9271 4.79106 18.0703 4.92969C21.9842 8.84355 21.984 15.1575 18.0703 19.0703C17.9743 19.1625 17.8977 19.2728 17.8449 19.395C17.7922 19.5171 17.7643 19.6485 17.7629 19.7816C17.7616 19.9146 17.7868 20.0466 17.8371 20.1697C17.8874 20.2929 17.9617 20.4048 18.0558 20.4989C18.1499 20.593 18.2618 20.6673 18.385 20.7176C18.5081 20.7679 18.6401 20.7931 18.7731 20.7918C18.9062 20.7904 19.0376 20.7625 19.1597 20.7097C19.2819 20.657 19.3922 20.5803 19.4844 20.4844C24.1626 15.8072 24.1625 8.19376 19.4844 3.51563C19.3913 3.41948 19.28 3.34297 19.1569 3.29064C19.0337 3.2383 18.9014 3.2112 18.7676 3.21094ZM10.2949 3.98828C10.1229 3.98828 9.94769 4.05331 9.80469 4.19531L5 9H3C1.895 9 1 9.895 1 11V13C1 14.105 1.895 15 3 15H5L9.80469 19.8047C9.94769 19.9477 10.1229 20.0117 10.2949 20.0117C10.6549 20.0117 11 19.7325 11 19.3105V4.68945C11 4.26745 10.6549 3.98828 10.2949 3.98828ZM15.9395 6.03906C15.7401 6.03871 15.5452 6.09795 15.3798 6.20916C15.2143 6.32036 15.0859 6.47848 15.011 6.6632C14.936 6.84792 14.918 7.05082 14.9592 7.24586C15.0004 7.4409 15.0989 7.61918 15.2422 7.75781C17.5941 10.1097 17.5939 13.8913 15.2422 16.2422C15.1462 16.3343 15.0696 16.4447 15.0168 16.5668C14.964 16.689 14.9361 16.8204 14.9348 16.9534C14.9334 17.0865 14.9586 17.2185 15.0089 17.3416C15.0592 17.4648 15.1336 17.5767 15.2276 17.6708C15.3217 17.7649 15.4336 17.8392 15.5568 17.8895C15.68 17.9398 15.812 17.965 15.945 17.9637C16.078 17.9623 16.2095 17.9344 16.3316 17.8816C16.4537 17.8288 16.5641 17.7522 16.6562 17.6563C19.7725 14.5411 19.7723 9.45984 16.6562 6.34375C16.5632 6.2476 16.4519 6.1711 16.3287 6.11876C16.2056 6.06643 16.0732 6.03933 15.9395 6.03906ZM9 7.82813V16.1719L6.41406 13.5859C6.03906 13.2119 5.53 13 5 13H3V11H5C5.53 11 6.03906 10.7891 6.41406 10.4141L9 7.82813ZM13.1113 8.86914C12.9124 8.86919 12.718 8.92857 12.553 9.03969C12.388 9.1508 12.2599 9.3086 12.185 9.49291C12.1101 9.67722 12.0919 9.87967 12.1328 10.0744C12.1736 10.2691 12.2715 10.4472 12.4141 10.5859C13.2042 11.376 13.2042 12.624 12.4141 13.4141C12.321 13.5069 12.2472 13.6172 12.1968 13.7385C12.1464 13.8599 12.1204 13.99 12.1203 14.1214C12.1202 14.2529 12.146 14.383 12.1962 14.5045C12.2464 14.6259 12.32 14.7363 12.4129 14.8293C12.5058 14.9223 12.616 14.9961 12.7374 15.0464C12.8588 15.0968 12.9889 15.1228 13.1203 15.1228C13.2518 15.1229 13.3819 15.0971 13.5034 15.0469C13.6248 14.9966 13.7352 14.923 13.8281 14.8301C15.382 13.2762 15.382 10.7258 13.8281 9.17188C13.7349 9.07608 13.6235 8.99994 13.5004 8.94794C13.3773 8.89594 13.245 8.86915 13.1113 8.86914Z"
              fill="#5b21b6"
            />
          </svg>
        </a>
        <a class="button round" :class="{ play: isPlaying }" @click="play()">
          <svg
            v-if="!isPlaying"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 6.82199V17.179C8 17.968 8.871 18.446 9.537 18.023L17.674 12.845C18.292 12.452 18.292 11.551 17.674 11.158L9.537 5.97799C8.871 5.55399 8 6.03299 8 6.82199Z"
              fill="white"
            />
          </svg>
          <svg
            v-else
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 5C6.895 5 6 5.895 6 7V17C6 18.105 6.895 19 8 19C9.105 19 10 18.105 10 17V7C10 5.895 9.105 5 8 5ZM16 5C14.895 5 14 5.895 14 7V17C14 18.105 14.895 19 16 19C17.105 19 18 18.105 18 17V7C18 5.895 17.105 5 16 5Z"
              fill="white"
            />
          </svg>
        </a>
        <a
          class="button round secondary"
          :class="{ active: isTempoControlOpen }"
          @click="switchTempoControlDisplay()"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.5 2C9.67196 2 8.99996 2.672 8.99996 3.5V4H2.99996C2.86745 3.99813 2.73589 4.02261 2.61292 4.07202C2.48995 4.12143 2.37803 4.1948 2.28366 4.28784C2.18929 4.38088 2.11435 4.49176 2.0632 4.61401C2.01206 4.73627 1.98572 4.86747 1.98572 5C1.98572 5.13253 2.01206 5.26373 2.0632 5.38599C2.11435 5.50824 2.18929 5.61912 2.28366 5.71216C2.37803 5.8052 2.48995 5.87857 2.61292 5.92798C2.73589 5.97739 2.86745 6.00187 2.99996 6H8.99996V6.5C8.99996 7.328 9.67196 8 10.5 8C11.328 8 12 7.328 12 6.5V3.5C12 2.672 11.328 2 10.5 2ZM14 4V6H21C21.2652 6 21.5195 5.89464 21.7071 5.70711C21.8946 5.51957 22 5.26522 22 5C22 4.73478 21.8946 4.48043 21.7071 4.29289C21.5195 4.10536 21.2652 4 21 4H14ZM15.5 9C14.672 9 14 9.672 14 10.5V11H2.99996C2.86745 10.9981 2.73589 11.0226 2.61292 11.072C2.48995 11.1214 2.37803 11.1948 2.28366 11.2878C2.18929 11.3809 2.11435 11.4918 2.0632 11.614C2.01206 11.7363 1.98572 11.8675 1.98572 12C1.98572 12.1325 2.01206 12.2637 2.0632 12.386C2.11435 12.5082 2.18929 12.6191 2.28366 12.7122C2.37803 12.8052 2.48995 12.8786 2.61292 12.928C2.73589 12.9774 2.86745 13.0019 2.99996 13H14V13.5C14 14.328 14.672 15 15.5 15C16.328 15 17 14.328 17 13.5V10.5C17 9.672 16.328 9 15.5 9ZM19 11V13H21C21.2652 13 21.5195 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5195 11.1054 21.2652 11 21 11H19ZM5.49996 16C4.67196 16 3.99996 16.672 3.99996 17.5V18H2.99996C2.86745 17.9981 2.73589 18.0226 2.61292 18.072C2.48995 18.1214 2.37803 18.1948 2.28366 18.2878C2.18929 18.3809 2.11435 18.4918 2.0632 18.614C2.01206 18.7363 1.98572 18.8675 1.98572 19C1.98572 19.1325 2.01206 19.2637 2.0632 19.386C2.11435 19.5082 2.18929 19.6191 2.28366 19.7122C2.37803 19.8052 2.48995 19.8786 2.61292 19.928C2.73589 19.9774 2.86745 20.0019 2.99996 20H3.99996V20.5C3.99996 21.328 4.67196 22 5.49996 22C6.32796 22 6.99996 21.328 6.99996 20.5V17.5C6.99996 16.672 6.32796 16 5.49996 16ZM8.99996 18V20H21C21.2652 20 21.5195 19.8946 21.7071 19.7071C21.8946 19.5196 22 19.2652 22 19C22 18.7348 21.8946 18.4804 21.7071 18.2929C21.5195 18.1054 21.2652 18 21 18H8.99996Z"
              fill="#5b21b6"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
// List of training sequences including 8 occlusives of 3 types – "P" | "T" | "K"
const trainingSequences = [
  ['P', 'T', 'K', 'T', 'K', 'K', 'P', 'T'],
  ['T', 'T', 'T', 'K', 'P', 'T', 'P', 'T'],
  ['T', 'K', 'P', 'K', 'T', 'P', 'P', 'K'],
  ['P', 'P', 'P', 'K', 'P', 'P', 'P', 'K'],
  ['P', 'T', 'T', 'P', 'T', 'T', 'P', 'T'],
  ['T', 'P', 'P', 'T', 'T', 'P', 'P', 'T'],
  ['K', 'P', 'P', 'K', 'P', 'P', 'K', 'P'],
  ['K', 'T', 'K', 'T', 'K', 'K', 'T', 'K'],
  ['P', 'T', 'K', 'P', 'P', 'T', 'K', 'P'],
  ['P', 'K', 'P', 'K', 'P', 'P', 'K', 'P'],
  ['P', 'P', 'K', 'P', 'P', 'P', 'K', 'P'],
  ['P', 'T', 'P', 'T', 'P', 'P', 'P', 'T'],
  ['P', 'P', 'T', 'P', 'P', 'P', 'T', 'P'],
  ['P', 'K', 'K', 'P', 'P', 'P', 'K', 'P'],
  ['T', 'P', 'P', 'T', 'P', 'P', 'T', 'P'],
  ['T', 'K', 'T', 'K', 'T', 'T', 'K', 'T'],
  ['T', 'P', 'K', 'T', 'T', 'P', 'K', 'T'],
  ['T', 'K', 'P', 'T', 'T', 'K', 'P', 'T'],
  ['T', 'P', 'T', 'P', 'T', 'T', 'T', 'P'],
]

export default {
  beforeRouteLeave(to, from, next) {
    this.stop()
    next()
  },
  data() {
    return {
      sequences: trainingSequences,
      activeSequence: [],
      activeSequenceIndex: 0,
      pSound: null,
      tSound: null,
      kSound: null,
      isPlaying: false,
      step: -1,
      bpm: 120,
      isTempoControlOpen: false,
      volume: 0.8,
      isVolumeControlOpen: false,
    }
  },
  computed: {
    activeOcclusive() {
      return this.step % 8 // Based on number of occlusives in a sequence
    },
    interval() {
      return (60 / this.bpm) * 1000
    },
    volumeAsPercentage() {
      return this.volume * 100
    },
  },
  mounted() {
    // Load active sequence from sequences collection
    this.activeSequence = this.sequences[this.activeSequenceIndex]
    // Load sounds
    this.pSound = new Audio('sounds/p.wav')
    this.tSound = new Audio('sounds/t.wav')
    this.kSound = new Audio('sounds/k.wav')

    // Set volume
    this.pSound.volume = this.volume
    this.tSound.volume = this.volume
    this.kSound.volume = this.volume
  },
  methods: {
    stop() {
      this.pSound.pause()
      this.pSound.currentTime = 0
      this.tSound.pause()
      this.tSound.currentTime = 0
      this.kSound.pause()
      this.kSound.currentTime = 0

      if (this.isPlaying) {
        clearInterval(this.isPlaying)
        this.isPlaying = false
      }
    },
    play() {
      if (this.isPlaying) {
        clearInterval(this.isPlaying)
        this.isPlaying = false
        this.step = -1 // To restart sequence from beginning
      } else {
        this.isPlaying = setInterval(() => {
          this.loop()
        }, this.interval)
      }
    },
    loop() {
      this.step++
      // Get occlusive for given step
      const occlusive = this.activeSequence[this.activeOcclusive]
      // Play this occlusive
      this.playSound(occlusive)
    },
    playSound(occlusive) {
      switch (occlusive.toLowerCase()) {
        case 'p':
          this.pSound.currentTime = 0
          this.pSound.play()
          break
        case 't':
          this.tSound.currentTime = 0
          this.tSound.play()
          break
        case 'k':
          this.kSound.currentTime = 0
          this.kSound.play()
          break
        default:
          console.warn('No sound for this occlusive!')
          break
      }
    },
    randomizeSequence() {
      if (this.sequences.length > 1) {
        const oldSequenceIndex = this.activeSequenceIndex
        let newSequenceIndex = Math.floor(Math.random() * this.sequences.length)

        // Avoid getting a radom sequence that is the same as previous one
        while (newSequenceIndex === oldSequenceIndex) {
          newSequenceIndex = Math.floor(Math.random() * this.sequences.length)
        }

        this.activeSequenceIndex = newSequenceIndex
        // Set new active sequence
        this.activeSequence = this.sequences[this.activeSequenceIndex]
      }
    },
    onTempoChange(event) {
      this.bpm = event.target.value

      if (this.isPlaying) {
        clearInterval(this.isPlaying)
        this.isPlaying = setInterval(() => {
          this.loop()
        }, this.interval)
      }
    },
    onVolumeChange(event) {
      this.volume = event.target.value

      this.pSound.volume = this.volume
      this.tSound.volume = this.volume
      this.kSound.volume = this.volume
    },
    switchVolumeControlDisplay() {
      // TODO: Add overlay + Close control on click out

      this.isVolumeControlOpen = !this.isVolumeControlOpen
      // If tempo control is open, close it
      if (this.isTempoControlOpen) this.isTempoControlOpen = false
    },
    switchTempoControlDisplay() {
      // TODO: Add overlay + Close control on click out

      this.isTempoControlOpen = !this.isTempoControlOpen
      // If volume control is open, close it
      if (this.isVolumeControlOpen) this.isVolumeControlOpen = false
    },
  },
}
</script>

<style scoped>
.occlusive {
  @apply capitalize p-4 px-5 text-white rounded-full rounded-bl-none font-bold bg-gray-500 border-8 border-gray-500 inline-block m-1;

  transition-property: border, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/* P | T | K occlusives style */
.occlusive.k {
  @apply bg-red-500 border-red-500;
}
.occlusive.t {
  @apply bg-green-500 border-green-500;
}
.occlusive.p {
  @apply bg-blue-500 border-blue-500;
}

/* Active styles */
.occlusive.k.active {
  @apply bg-red-600 border-red-800;
}
.occlusive.t.active {
  @apply bg-green-600 border-green-800;
}
.occlusive.p.active {
  @apply bg-blue-600 border-blue-800;
}

.control-container {
  @apply absolute
        bottom-0
        left-0
        flex
        flex-col
        w-full;
}

.buttons-container {
  @apply flex
        justify-center
        w-full
        shadow-2xl
        py-4;
}

.control {
  @apply hidden
        justify-center
        w-full
        px-8
        py-4
        bg-purple-200
        rounded-full
        flex
        flex-col
        text-center;

  border: 16px solid white;
}

.control.open {
  @apply flex;
}

.button.round {
  @apply block
          bg-purple-800
          text-white
          rounded-full
          p-6
          mx-2
          cursor-pointer
          hover:bg-purple-900;
}

.button.secondary {
  @apply bg-white hover:bg-purple-200;
}

.button.secondary.active {
  @apply bg-purple-200;
}

/* Avoid white background on input by default */
input {
  background-color: transparent;
}

/* Input range */
input[type='range'] {
  height: 40px;
  -webkit-appearance: none;
  margin: 8px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}

/* Bar */
input[type='range']::-webkit-slider-runnable-track {
  @apply bg-purple-400;

  width: 100%;
  height: 16px;
  cursor: pointer;
  border-radius: 8px;
}

/* Cursor */
input[type='range']::-webkit-slider-thumb {
  @apply bg-purple-800;

  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-appearance: none;

  /* Cursor height/2 (20) - Bar height/2 (8) */
  margin-top: -12px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  @apply bg-purple-300;
}

/* TODO: MOZ + MS */
</style>
