<template>
  <div class="container m-auto px-8 pt-8 pb-16">
    <!-- Section démonstration -->
    <section>
      <header class="section-head">
        <h2 class="subtitle">
          Démonstration par
          <a href="https://tikobeatbox.com/fr/" target="_blank" class="link"
            >Tiko</a
          >, beatboxer professionnel
        </h2>
      </header>
      <figure class="video-container">
        <!-- Video de presentation -->
        <iframe
          src="https://www.youtube.com/embed/UlmWzHy0H9A"
          title="Démonstration beastbox par Tiko"
          allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
        <div class="absolute bottom-0 right-0 w-16 h-16">
          <svg
            viewBox="0 0 80 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 80C44.1828 80 80 44.1828 80 0V80H0Z"
              fill="white"
            />
          </svg>
        </div>
      </figure>
    </section>
    <!-- Section P -->
    <section>
      <header class="section-head">
        <span class="pill red">P</span>
        <h2 class="subtitle">Grosse caisse</h2>
      </header>
      <figure class="video-container">
        <iframe
          width="741"
          height="417"
          src="https://www.youtube.com/embed/-5vnS_MuwU0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="absolute bottom-0 right-0 w-16 h-16">
          <svg
            viewBox="0 0 80 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 80C44.1828 80 80 44.1828 80 0V80H0Z"
              fill="white"
            />
          </svg>
        </div>
      </figure>
    </section>
    <!-- Section T -->
    <section>
      <header class="section-head">
        <span class="pill green">T</span>
        <h2 class="subtitle">Charleston</h2>
      </header>
      <figure class="video-container">
        <iframe
          width="741"
          height="417"
          src="https://www.youtube.com/embed/BprO9KtY1IA"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="absolute bottom-0 right-0 w-16 h-16">
          <svg
            viewBox="0 0 80 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 80C44.1828 80 80 44.1828 80 0V80H0Z"
              fill="white"
            />
          </svg>
        </div>
      </figure>
    </section>
    <!-- Section K -->
    <section>
      <header class="section-head">
        <span class="pill blue">K</span>
        <h2 class="subtitle">Caisse claire</h2>
      </header>
      <figure class="video-container">
        <iframe
          width="741"
          height="417"
          src="https://www.youtube.com/embed/B9Z_FgIf4tQ"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="absolute bottom-0 right-0 w-16 h-16">
          <svg
            viewBox="0 0 80 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 80C44.1828 80 80 44.1828 80 0V80H0Z"
              fill="white"
            />
          </svg>
        </div>
      </figure>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
section {
  @apply mt-8;
}

section:first-child {
  @apply mt-0;
}

.section-head {
  @apply flex mb-2;
}
.section-head .subtitle {
  @apply self-center my-0;
}

.pill {
  @apply capitalize p-4 px-6 text-white rounded-full rounded-bl-none font-bold mr-4;
}
.pill.red {
  @apply bg-red-500;
}
.pill.green {
  @apply bg-green-500;
}
.pill.blue {
  @apply bg-blue-500;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 500px;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
